<div class="bottom-sheet__container">
  <div class="bottom-sheet__header">
    <h2 class="bottom-sheet__title">Настройки</h2>
    <button class="bottom-sheet__close" (click)="closeSheet($event)">
      <mat-icon aria-hidden="false" aria-label="settings" fontIcon="close"></mat-icon>
    </button>
  </div>

  <div class="bottom-sheet__form">
    <mat-slide-toggle [(ngModel)]="state().showMap" (toggleChange)="toggleChange('showMap')"
      >Показывать карту</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="state().showPractise"
      (toggleChange)="toggleChange('showPractise')"
      >Показывать практики</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="state().showQualification"
      (toggleChange)="toggleChange('showQualification')"
      >Показывать квалификацию</mat-slide-toggle
    >
    <mat-slide-toggle [(ngModel)]="state().showRace" (toggleChange)="toggleChange('showRace')"
      >Показывать гонку</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="state().showCountDown"
      (toggleChange)="toggleChange('showCountDown')"
      >Показывать обратный отсчет</mat-slide-toggle
    >
  </div>
</div>
